* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* ------------------ Header ---------------------  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  height: 50px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 10%;
  margin-right: 2%;
  width: auto;
}

.header-links {
  margin-left: 2%;
  margin-right: 10%;
  padding: 0;
}

.header-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 24px;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* -------------------- Hero --------------------- */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 100px 0;
}

.placeholder {
  background-color: rgb(110, 116, 124);
  color: #e5e7eb;
  width: 50%;
  height: 215px;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  margin-left: 10%;
  margin-right: 30px;
  width: 50%;
}

.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 2px;
}

.hero-text p {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 12px;
}

.hero-text button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  padding: 5px;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

/* -------------------- Information ---------------------- */

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 36px;
  margin: 40px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.box .image {
  width: 150px;
  height: 150px;
  border: #3882f6 3px solid;
  border-radius: 10%;
  margin-bottom: 5px;
}

.box p {
  font-size: 18px;
  color: rgb(110, 116, 124);
  text-align: center;
}